.header__subtitle {
  position: absolute;
  align-self: flex-end;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 20;
  margin: 0;
}
